# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# visual studio shit
**/.vs
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#compile output folder
**/out/**
**/build/**


# Executables
*.exe
*.out
*.app

# backup files
*.bak

# python stuff
**/venv*/**
**/*.idea
**/__pycache__/**
*.pyd